<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Sign In</title>
    <link rel="stylesheet" href="/css/users/auth.css">
</head>
<body>

<div class="auth-container">
    <h1>로그인</h1>
    <p>다시 만나서 반가워요. 로그인해주세요.</p>

    <form id="loginForm" class="auth-form">
        <label>이메일 주소</label>
        <input type="email" id="email" placeholder="email@example.com" required />

        <label>비밀번호</label>
        <input type="password" id="password" placeholder="Password" required />

        <button type="submit" class="auth-btn">로그인</button>
    </form>

    <div class="auth-footer">
        <a th:href="@{/auth/forgot-password}" class="forgot-link">
            비밀번호를 잊으셨나요?
        </a>
    </div>


    <div class="auth-footer">
        <a href="/auth/signup">회원가입</a>
    </div>
</div>

<script src="/js/login.js"></script>
</body>
</html>
