<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>
<main class="wrap">
    <section class="card">
        <header class="head">
            <h1 class="title">Login</h1>
        </header>

        <form class="form" action="#" method="post">
            <label class="field">
                <span class="label">Id</span>
                <input class="input" type="text" name="username" placeholder="아이디 입력" autocomplete="username" />
            </label>

            <label class="field">
                <span class="label">Password</span>
                <input class="input" type="password" name="password" placeholder="비밀번호 입력" autocomplete="current-password" />
            </label>

            <div class="row">
                <label class="chk">
                    <input type="checkbox" />
                    <span>Keep me signed in</span>
                </label>
                <a class="link" href="#">Forgot password</a>
            </div>

            <button class="btn" type="submit">Sign in</button>

            <p class="foot">
                Don’t have an account
                <a class="link" href="#">Sign Up</a>
            </p>
        </form>
    </section>
</main>
</body>
</html>