<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>レビュー</title>
    <link rel="stylesheet" href="/css/host/reviewsdetail.css"/>
</head>
<body>

<div class="review-wrapper">

    <a th:href="@{/mypage/details/host}" class="back-btn">← 戻る</a>

    <div class="review-card">

        <div class="review-header">
            <h2 class="review-title" th:text="${review.trip.title}">
                ツアータイトル
            </h2>

            <div class="review-rating">
                評価 ★ <b th:text="${review.rating}">5</b>
            </div>
        </div>

        <div class="review-divider"></div>

        <div class="review-content" th:text="${review.content}">
            レビュー 内容
        </div>

    </div>
</div>

</body>
</html>
